<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Books Data</title>
</head>
<body>
	<h3>Book Details</h3>
	<table style="border:black 1px solid">
		<thead><tr>
			<th>Book Title</th>
			<th>Author Name</th>
			<th>Store Name </th>
			<th>Book Price</th>
		</tr></thead>
		<tbody>
				{% for item in data %}

			<tr>
				<td>{{item.book}}</td>
				<td></td>
				<td>{{item.name}}</td>
				<td>{{item.price}}</td>
				
			</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
</html>